@import 'src/assets/styles/_theme.scss';

.dropdown {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    color: $white;
    font-size: $lg-font;
    font-weight:$bold;
    margin: $lg-space 0;
    position: relative;

    .dropdown-text {
        margin-left: $lg-space;
    }

    &-box {
        padding: $sm-space $lg-space;
        transition: $transition;
    }

    &:hover {
        color:$blue;

        .dropdown-box {
            border-radius:$btn-radius;
            background-color: rgba($color: $blue, $alpha: 0.1);
        }
    }

    &-menu {
        display: block;
        position: absolute;
        bottom: 100%;
        left: 0;
        right:0;

        ul {
            list-style-type: none;
            box-shadow: 0 0 4px 0 $grey;
            background-color: $background;
            color:$white;
            border-radius: $input-radius;
            
            li {
                display: flex;
            }
            a{
                display: flex;
                flex:1;
                padding: $lg-space $lg-space;
                color: $white;
                font-weight: $bold;
                font-size: $md-font;
                transition: $transition;

                span {
                    margin-left: $md-space;
                }

                &:hover {
                    background-color: $card;
                }
            }
        }
    }
}