<div class="side-menu-wrapper">
<app-nav-link [icon]="faTwitter" to="/home">
</app-nav-link>

<app-nav-link [icon]="faHome" to="/home">
    <span class="side-menu-text">Home</span>
</app-nav-link>

<app-nav-link [icon]="faHashtag" to="/home/1">
    <span class="side-menu-text">Explore</span>
</app-nav-link>

<app-nav-link [icon]="faBell" to="/home/1">
    <span class="side-menu-text">Notifications</span>
</app-nav-link>

<app-nav-link [icon]="faEnvelope" to="/home/1">
    <span class="side-menu-text">Messages</span>
</app-nav-link>

<app-nav-link [icon]="faBookmark" to="/home/1">
    <span class="side-menu-text">Bookmarks</span>
</app-nav-link>

<app-nav-link [icon]="faListAlt" to="/home/1">
    <span class="side-menu-text">Lists</span>
</app-nav-link>

<app-nav-link [icon]="faUser" [to]="'/home/' + user.id">
    <span class="side-menu-text">Profile</span>
</app-nav-link>

<app-dropdown-link [icon]="faEllipsisH" [menuItems]="moreMenuItems">
    <span class="side-menu-text">More</span>
</app-dropdown-link>

<app-button 
    class="side-menu-tweet"
    [block]="!isMobile"
    [icon]="isTablet"
    to="/home/1" (click)="toggleTweetModal()">
    <fa-icon class="side-menu-icon" [icon]="faPlus"></fa-icon>
    <span class="side-menu-text">Tweet</span>
</app-button></div>

<app-modal [isOpen]="isTweetModalOpen">
    <header class="modal-header">
        <app-button (click)="toggleTweetModal()" variant="flat" [icon]="true">
            <fa-icon [icon]="faTimes"></fa-icon>
        </app-button>
    </header>

    <app-divider></app-divider>
    
    <div class="modal-content">
        <app-tweet-input></app-tweet-input>
    </div>
</app-modal>
