<div class="feed-page-wrapper">
    <app-card class="feed-header-wrapper">
        <header class="feed-header">
            <app-text weight="bold" size="lg">
                Homepage
            </app-text>
        
            <fa-icon class="header-icon" [icon]="faJediOrder"></fa-icon>
        </header>
    </app-card>
    
    <app-card class="feed-tweet-area" [padding]="true">
        <app-tweet-input rows="2"></app-tweet-input>
    </app-card>
    
    <app-divider size="lg"></app-divider>
    
    <div class="feed-list">
        <app-tweet-card
            *ngFor="let tweet of tweets"
            [tweet]="tweet">
        </app-tweet-card>
    </div>

    <app-button class="tweet-mobile-btn" [rounded]="true" size="lg" [icon]="true" (click)="toggleTweetModal()">
        <fa-icon [icon]="faPlus"></fa-icon>
    </app-button>
</div>

<app-modal class="modal-wrapper" [isOpen]="isTweetModalOpen">
    <header class="modal-header">
        <app-button (click)="toggleTweetModal()" variant="flat" [icon]="true">
            <fa-icon [icon]="faTimes"></fa-icon>
        </app-button>
    </header>

    <app-divider></app-divider>
    
    <div class="modal-content">
        <app-tweet-input></app-tweet-input>
    </div>
</app-modal>


