@import 'src/assets/styles/_theme.scss';

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $white;
    font-size: $lg-font;
    font-weight:$bold;
    margin: $lg-space 0;
    .link-text {
        margin-left: $lg-space;
    }

    &-box {
        padding: $sm-space $lg-space;
        transition: $transition;
    }

    &:hover {
        color:$blue;

        .link-box {
            border-radius:$btn-radius;
            background-color: rgba($color: $blue, $alpha: 0.1);
        }
    
    }
}