@import 'src/assets/styles/_theme.scss';
@import 'src/assets/styles/_mixins.scss';


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $background;
    color:$white;
}

.container {
    max-width: 1200px;
    margin: auto;
    @include bp(tablet) {
        max-width: 900px;
        margin: 0 auto;
    }
}

hr {
    background-color: orange;
    height: 1px;
    margin: 20px 0;
}

a {
    text-decoration: none;
}